* {
   padding: 0;
}

@font-face {
   font-family: 'corinthians';
   src: url(../CORINTHIANS/FONT-CORINTHIANS-2023.otf);
}

body {
   margin: 0;
   padding: 0;
   font-family: Verdana;
   background-color: #222222;
   color: beige;
}

h1 {
   margin: 0%;
   margin-right: 0%;
}

.header {
   width: 90%;
   margin: auto;
   justify-content: space-between;
   display: flex;
   padding: 0%;
}

.container {
   display: flex;
   width: 100%;
   margin: 0 auto;
   flex-direction: row;
   justify-content: space-between;
}

.container_bottom {
   display: flex;
   width: 100%;
   margin: 0 auto;
   justify-content: space-between;
}

.titulo {
   color: white;
   font-weight: lighter;
   font-family: 'corinthians';
   display: flex;
}

.navbar {
   width: 70%;
   display: flex;
   flex-direction: row;
   list-style: none;
   justify-content: space-between;
   color: white;
   align-items: center;
   font-family: 'corinthians';
   font-weight: lighter;
   font-size: large;
}

.banner {
   color: #fff;
   height: 400px;
   background-image: url('../IMG/banner.png');
   background-repeat: no-repeat;
   background-size: cover;
}

.banner .container {
   justify-content: center;
   align-items: center;
   height: 100%;
}

.banner .container p {
   font-size: 40px;
   width: 35%;
   color: black;
}

.social {
   color: white;
   padding: 40px 0;
}

.social .container {
   justify-content: space-around;
   background-color: #222222;
   margin-bottom: 4%;
   display: flex;
   flex-direction: column;
}

.card {
   width: 100%;
   display: flex;
   flex-direction: row;
   padding: 30px;
}

.text {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 35%;
   margin-left: 15px;
   text-align: justify;
}
.text span {
   margin-left: 15px;
}

.card h1 {
   font-family: 'corinthians';
   font-weight: lighter;
   font-size: 45px;
}

.container2 {
   background-color: white;
   align-items: center;
   text-align: center;
   flex-direction: row;
   color: black
}

.bloco {
   padding: 40px;
   margin: 5%;
   text-align: justify;
   display: flex;
   flex-direction: column;
   margin-right: 55%;
}

.bloco h1 {
   color: black;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bloco img {
   width: 50%;
}

.social .container2 button {
   height: 50px;
   width: 250px;
   font-family: 'Courier New', Courier, monospace;
   font-size: large;
   background-color: #222222;
   color: white;
   border-radius: 25px;
}

.social .container2 button:hover {
   background-color: white;
   color: black;
}

.social .container2 p {
   font-size: 25px;
   color: black;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer {
   height: 100px;
   background-color: #32b9cd;
}

.footer .container {
   justify-content: center;
   align-items: center;
   height: 100%;
}

.footer .container p {
   color: #fff;
   font-size: medium;
}

.header a {
   text-decoration: none;
   color: white;
}

.agora {
   font-weight: 800;
}

.header .container img {
   width: 60px;
   height: 60px;
   margin: 5px;
}

.header .container .titulo {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.navbar li:hover {
   color: red;
   cursor: pointer;
}

.navbar .login li:hover {
   color: red;
}

.navbar a:hover {
   color: red;
}

section.slider {
   margin: 0;
   width: 60%;
   height: auto;
   padding: 0 !important;
   overflow: hidden;
}

section .textalt{
   text-align: justify;
   width: 100%;
   padding: 15px;
}

.slider-content {
   width: 400%;
   height: auto;
   display: flex;
}

.slider-content input {
   display: none;
}

.slide-box {
   width: 25%;
   height: auto;
   position: relative;
   text-align: center;
   transition: 1s;
}

.slide-box img {
   width: 100%;
}

.nav-manual {
   position: absolute;
   width: 38%;
   margin-top: 35%;
   display: flex;
   justify-content: flex-end;
}

.nav-manual .manual-btn,
.nav-auto div {
   border: 1px solid white;
   padding: 10px;
   border-radius: 50%;
   cursor: pointer;
   transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child),
.nav-auto div:not(:last-child) {
   margin-right: 10px;
}

.nav-manual .manual-btn:hover {
   background-color: white;
}

#radio1:checked~.nav-auto .auto-btn1 {
   background-color: white;
}

#radio2:checked~.nav-auto .auto-btn2 {
   background-color: white;
}

#radio3:checked~.nav-auto .auto-btn3 {
   background-color: white;
}

#radio1:checked~.primeiro {
   margin-left: 0%;
}

#radio2:checked~.primeiro {
   margin-left: -25%;
}

#radio3:checked~.primeiro {
   margin-left: -50%;
}




section.slider2 {
   margin: 0;
   width: 60%;
   height: auto;
   padding: 0 !important;
   overflow: hidden;
}

section .textalt{
   text-align: justify;
   width: 100%;
   padding: 15px;
}

.slider-content2 {
   width: 400%;
   height: auto;
   display: flex;
}

.slider-content2 input {
   display: none;
}

.slide-box2 {
   width: 25%;
   height: auto;
   position: relative;
   text-align: center;
   transition: 1s;
}

.slide-box2 img {
   width: 100%;
   margin-left: 15px;
}

.nav-manual2 {
   position: absolute;
   width: 38%;
   margin-top: 35%;
   display: flex;
   justify-content: flex-end;
}

.nav-manual2 .manual-btn2,
.nav-auto2 div {
   border: 1px solid white;
   padding: 10px;
   border-radius: 50%;
   cursor: pointer;
   transition: 0.2s;
}

.nav-manual2 .manual-btn2:not(:last-child):not(:last-child),
.nav-auto2 div:not(:last-child) {
   margin-right: 10px;
}

.nav-manual2 .manual-btn2:hover {
   background-color: white;
}

#radio4:checked~.nav-auto2 .auto-btn4 {
   background-color: white;
}

#radio5:checked~.nav-auto2 .auto-btn5 {
   background-color: white;
}

#radio6:checked~.nav-auto2 .auto-btn6 {
   background-color: white;
}

#radio7:checked~.nav-auto2 .auto-btn7 {
   background-color: white;
}

#radio4:checked~.first {
   margin-left: 0%;
}

#radio5:checked~.first {
   margin-left: -25%;
}

#radio6:checked~.first {
   margin-left: -50%;
}

#radio7:checked~.first {
   margin-left: -75%;
}