body {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    background-color: #222222;
    color: beige;
    background-image: url(../IMG/abraco.png);
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: 'corinthians';
    src: url(../CORINTHIANS/FONT-CORINTHIANS-2023.otf);
}

.container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background-color: #222222;
}

.titulo {
    color: white;
    font-weight: lighter;
    font-family: 'corinthians';
    display: flex;
}

.header {
    width: 90%;
    margin: auto;
    justify-content: space-between;
    display: flex;
    padding: 0%;
    border: 1px solid white;
}

.navbar {
    width: 70%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    color: white;
    align-items: center;
    font-family: 'corinthians';
    font-weight: lighter;
    font-size: large;
    margin-right: 20px;
}

.header a {
    text-decoration: none;
    color: white;
}

.agora {
    font-weight: 800;
}

.header .container img {
    width: 60px;
    height: 60px;
    margin: 5px;
}

.header .container .titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar li:hover {
    color: red;
    cursor: pointer;
}

.navbar .login li:hover {
    color: red;
}

.navbar a:hover {
    color: red;
}





.container2 {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
}

img {
    width: 8%;
    margin-left: 2%;
}

.login {
    width: 300px;
    height: 365px;
    padding: 30px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    background-color: #222222;
    align-items: center;
}

.formulario {
    margin-top: 50px;
}

.login input, .login button{
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: 1s;
}

button:hover{
    background-color: red;
    transition: 1s;
}

#div_mensagem{
    color:red;
    margin-top: 10px;
    text-align: center;
}

#div_tentativa{
    color: yellow;
    margin-top: 10px;
    text-align: center;
}

h2{
    text-align: center;
    color: white;
    font-family: 'corinthians';
    font-size: xx-large;
    font-weight: lighter;
}