* {
   padding: 0;
}

body {
   margin: 0;
   padding: 0;
   font-family: Verdana;
   background-color: #222222;
   color: beige;
}

.header {
   width: 90%;
   margin: auto;
   justify-content: space-between;
   display: flex;
}

.container {
   display: flex;
   width: 100%;
   margin: 0 auto;
   justify-content: space-between;
}

.container_bottom {
   display: flex;
   width: 100%;
   margin: 0 auto;
   justify-content: space-between;
}

.header .container {
   justify-content: space-between;

}

.titulo {
   color: white;
   font-weight: lighter;
   margin-left: 0;
}

.navbar {
   width: 600px;
   display: flex;
   flex-direction: row;
   list-style: none;
   justify-content: space-between;
   color: white;
   align-items: center;
}

.banner {
   padding: 40px 20px 30px 10px;
   color: #fff;
   height: 400px;
   background-image: url('../SITE/tocida1.jpg');
   background-repeat: no-repeat;
   background-size: cover;
}

.banner .container {
   justify-content: center;
   align-items: center;
   height: 100%;
}

.banner .container p {
   font-size: 40px;
   width: 35%;
   color: black;
}

.banner .container span {
   color: #32b9cd;
   font-weight: bold;
}

.social {
   background-color: #222222;
   color: white;
   padding: 40px 0;
   flex-direction: row;
}

.social .container {
   flex-direction: column;
}

.card {
   width: 150px;
   align-items: normal;
   flex-direction: column;
}

.card img {
   width: 100%;
}

.card h4 {
   font-size: 24px;
}

.footer {
   height: 100px;
   background-color: #32b9cd;
}

.footer .container {
   justify-content: center;
   align-items: center;
   height: 100%;
}

.footer .container p {
   color: #fff;
   font-size: medium;
}

.header a {
   text-decoration: none;
   color: white;
}

.agora {
   font-weight: 800;
}

.header .container img {
   width: 60px;
   height: 60px;
   margin: 5px;
}

.header .container .titulo {
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin-right: 230px;
}

.navbar li:hover{
   color: red;
}

.navbar .login li:hover{
   color: red;
}