*{
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: Verdana;
    background-color: #222222;
    color: beige;
 }
 
 .header{
    width: 90%;
    margin: auto;
    justify-content: space-between;
    display: flex;
 }
 
 .container{
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
 }

 .container_bottom{
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
 }
 
 .header .container {
    justify-content: space-between;

 }
 
 .titulo{
 color: white;
 font-weight: lighter;
 margin-left: 100px;
 }
 
 .navbar {
    width: 600px;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    color: white;
    align-items: center;
    
 }
 
 .banner{
    padding: 40px 20px 30px 10px;
    color: #fff;
    height: 400px;
    background-image: url('../SITE/c6ad89f2-dd36-4348-b805-4f399c6a922c.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
 
 .banner .container {
    justify-content: center;
    align-items: center;
    height: 100%;
 }
 
 .banner .container p {
    font-size: 40px;
    width: 35%;
    color: black;
 }
 
 .banner .container span {
    color: #32b9cd;
    font-weight: bold;
 }
 
 .social{
    background-color: #fff;
    color: black;
    padding: 40px 0;
 }
 
 .social .container{
    justify-content: space-between;
 }
 
 .card{
    width: 150px;
    text-align: center;
 }
 
 .card img{
    width: 100px;
 }
 
 .card h4 {
    font-size: 24px;
 }
 
 .footer{
    height: 100px;
    background-color: #32b9cd;
 }
 
 .footer .container{
    justify-content: center;
    align-items: center;
    height: 100%;
 }
 
 .footer .container p{
    color: #fff;
    font-size: medium;
 }
 
 .login .container {
    justify-content: center;
    align-items: center;
    background-image: url(bg-jelly-fish-para_outras_pags.png);
    background-size: cover;
    height: 75vh;
 
 }
 
 .card{
    background-color: white;
    flex-direction: column;
    height: 300px;
    width: 500px;
    border-radius: 7px;
    color: black;
    border: 4px solid #32b9cd;
 }
 
 .card h2 {
    color: palevioletred;
    -webkit-text-stroke: 1px color(srgb rgb(0, 0, 0) rgb(0, 0, 0) rgb(0, 0, 0));
 }


 .campo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .campo input {
    width: 200px;
    padding: 7px 15px;
    border: 2px solid #32b9cd;
 }

 .formulario button{
    margin-top: 25px;
    padding: 10px 20px ;
    background-color: palevioletred;
    color: #FFF;
    border: none;
    
 }

 .header a {
    text-decoration: none;
    color: #e3b062;

 }

 .agora {
    font-weight: 800;
 }

.header .container img{
    width: 60px;
    height: 60px;
    margin: 5px;
}

.header .container .titulo{
    align-items: center;
    justify-content: center;
}